*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    background-color: antiquewhite;
    margin: 10px auto;
    border: 2px sold white;
    border-radius: 20px;
    padding: 30px;
}
.container h1{
    text-align: center;
}
form{
    padding: 10px 0px;
}
label{
    display: block;
    margin: 10px 0px;
    font-size: 23px;
    
}
form input,textarea{
    width: 100%;
    padding:  15px;
    border-radius: 10px;
    border: none;
    outline-color: gray;
}


input,textarea{
    font-size: 20px;
}

.container button{
    display: block;
    margin: 10px 0px;
    padding: 15px;
    background-color: green;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.resumeoutput{
    width: 100%;
    background-color: white;
    padding: 10px;
    display: none;
}
#resumecontent{
    padding: 20px 20px;
    background-color: white;
    display: none;
    border-radius: 10px;
    
}
#resumecontent h1{
    margin-bottom: 20px;
}
 .btn{
    display: block;
    margin: 15px 0px;
    padding: 15px;
    background-color: green;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
}